.task {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 4px solid black;
  margin-bottom: 20px;
  padding: 10px;
  gap: 10px;
}

.done_task {
  text-decoration-line: line-through;
}

.special_border {
  border-color: blue;
}

.low_priority {
  background-color: #fff;
}

.medium_priority {
  background-color: #ffd7b5;
}

.high_priority {
  background-color: #ffb38a;
}

.very_high_priority {
  background-color: #ff9248;
}

.extra_priority {
  background-color: #ff6700;
}
